<form name="formCad" ng-controller="UserCadastroJuridicoCtrl" ng-init="init()" ng-submit="save()">
    <h2>Cadastro de Pessoa Jurídica<br> <small>Todos os campos deste formuário são obrigatórios</small></h2>
    <hr>

    <ol class="breadcrumb" ng-hide="tipoJuridico">
        <li><a href="#/">Inicial</a></li>
        <li><a href="#/user">Usuário</a></li>
        <li class="active">Cadastro</li>
    </ol>

    <input type="hidden" ng-model="form.id" value="form.id">

    <div class="alert alert-info" role="alert" ng-show="form.flAssociado">
        <li class="glyphicon glyphicon-asterisk"></li> ASSOCIADO - Data do Vencimento: {[{ formatarData(form.dtVencimento) }]}
    </div>

    <div class="form-group col-lg-6 col-md-6">
        <label for="exampleInputEmail1">CNPJ</label>
        <input id="cnpj" type="text" class="form-control" maxlength="255" ng-model="empresa.cnpj" name="cnpj" name="formCad" ng-cnpj ui-mask="'99.999.999/9999-99'" required>
    </div>

    <div class="form-group col-lg-6 col-md-6">
        <label for="exampleInputEmail1">Inscrição Estadual</label>
        <input type="text" class="form-control" maxlength="255" ng-model="empresa.inscEstadual" placeholder="Digite a inscrição estadual" required>
    </div>

    <div class="form-group col-lg-6 col-md-6">
        <label for="exampleInputEmail1">Razão Social</label>
        <input type="text" class="form-control" maxlength="255" ng-model="empresa.razaoSocial" placeholder="Digite a razão social" required>
    </div>

    <div class="form-group col-lg-6 col-md-6">
        <label for="exampleInputEmail1">Nome Fantasia</label>
        <input type="text" class="form-control" maxlength="255" ng-model="empresa.nomeFantasia" placeholder="Digite o nome fantasia" required>
    </div>


    <!-- PARTE DE CONTATOS -->
    <h2>Informações para contato<br> </h2>
    <hr>

    <div class="form-group col-lg-6 col-md-6">
        <label for="exampleInputEmail1">Telefone</label>
        <input type="text" class="form-control" maxlength="255" ng-model="contato.telefone" ui-mask="'(999)9999-9999'" required>
    </div>
    <div class="form-group col-lg-6 col-md-6">
        <label for="exampleInputEmail1">Numero do FAX</label>
        <input type="text" class="form-control" maxlength="255" ng-model="contato.fax"  ui-mask="'(999)9999-9999'" required>
    </div>

    <div class="form-group col-lg-12 col-md-6">
        <label for="exampleInputEmail1">Endereço e-mail</label>
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-envelope"></span>
            <input type="email" class="form-control" maxlength="255" ng-model="contato.email" placeholder="Digite e-mail" required>
        </div>
    </div>

    <div class="form-group col-lg-8 col-md-6">
        <label for="exampleInputEmail1">Endereço</label>
        <input type="text" class="form-control" maxlength="255" ng-model="contato.endereco" placeholder="Digite o endereço" required>
    </div>

    <div class="form-group col-lg-4 col-md-6">
        <label for="exampleInputEmail1">Bairro</label>
        <input type="text" class="form-control" maxlength="255" ng-model="contato.bairro" placeholder="Digite o bairro" required>
    </div>

    <div class="form-group col-lg-12 col-md-6">
        <label for="exampleInputEmail1">Complemento</label>
        <input type="text" class="form-control" maxlength="255" ng-model="contato.complemento" placeholder="Digite o complemento" required>
    </div>

    <div class="form-group col-lg-4 col-md-6">
        <label for="exampleInputEmail1">UF</label>
        <select class="form-control" ng-model="contato.estado" required ng-change="getCidade()">
            <option value="">Selecione</option>
            <option ng-repeat="estado in estados" value="{[{ estado.id }]}">{[{ estado.estado }]}</option>
        </select>
    </div>

    <div class="form-group col-lg-4 col-md-6">
        <label for="exampleInputEmail1">Cidade</label>
        <select class="form-control" ng-model="contato.cidade" required>
            <option value="">Selecione</option>
            <option ng-repeat="cidade in cidades" value="{[{ cidade.id }]}"  ng-selected="contato.cidade == cidade.id">{[{ cidade.noCidade }]}</option>
        </select>
    </div>

    <div class="form-group col-lg-4 col-md-6">
        <label for="exampleInputEmail1">Cep</label>
        <input type="text" class="form-control" maxlength="255" ng-model="contato.cep" ui-mask="'99999-999'" required>
    </div>


    <!-- PARTE DE COMPLEMENTO -->
    <h2>Dados do Responsavel<br></h2>
    <hr>

    <div class="form-group col-lg-8 col-md-6">
        <label for="exampleInputEmail1">Nome</label>
        <input type="text" class="form-control" maxlength="255" ng-model="form.nome" placeholder="Digite o nome" required>
    </div>

    <div class="form-group col-lg-4 col-md-6">
        <label for="exampleInputEmail1">Telefone</label>
        <input type="text" class="form-control" maxlength="255" ng-model="contato.comercial" ui-mask="'(999)9999-9999'" required>
    </div>

    <div class="form-group col-lg-3 col-md-3">
        <label for="exampleInputEmail1">Celular</label>
        <input type="text" class="form-control" maxlength="255" ng-model="contato.celular" ui-mask="'(999)99999-999?9'" required>
    </div>
    <div class="form-group  col-lg-3 col-md-3">
        <label for="exampleInputEmail1">Operadora</label>
        <select class="form-control" ng-model="contato.operadora" required>
            <option value="">Selecione</option>
            <option ng-repeat="operadora in listOperadoras" value="{[{ operadora.id }]}" ng-selected="contato.operadora == operadora.id">{[{ operadora.texto }]}</option>
        </select>
    </div>
    <div class="form-group col-lg-6 col-md-6">
        <label for="exampleInputEmail1">Cargo</label>
        <input type="text" class="form-control" maxlength="255" ng-model="complemento.cargo" placeholder="Digite o cargo" required>
    </div>

    <div class="form-group col-lg-12 col-md-6">
        <label for="exampleInputEmail1">Endereço e-mail</label>
        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-envelope"></span>
            <input type="email" class="form-control" maxlength="255" ng-model="form.email" placeholder="Digite o e-mail" required>
        </div>
    </div>

    <div class="form-group col-lg-4 col-md-6">
        <label for="exampleInputEmail1">Sexo</label>
        <select class="form-control" ng-model="form.sexo" required>
            <option value="">Selecione</option>
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
        </select>
    </div>

    <div class="row">
        <div class="form-group col-lg-3 col-md-12">
            <label for="exampleInputPassword1">Senha</label>
            <input type="password" maxlength="10" class="form-control" ng-model="form.senha" placeholder="Digite senha" required>
        </div>

        <div class="form-group col-lg-3 col-md-12">
            <label for="exampleInputPassword1">Repita Senha</label>
            <input type="password" maxlength="10" class="form-control" ng-model="rsenha" placeholder="Digite senha" required>
        </div>
    </div>

    <div class="col-md-12" ng-show="checkAssociacao()">
        <h2 class="col-md-12 ">Associação</h2>

        <div class="row">
            <div ng-repeat="associacao in listValores" class="col-sm-6 col-md-6">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>{[{ associacao.texto }]}</h3>
                        <p class="lead">Para pagamento à vista <strong>R$ {[{ associacao.valor }]}</strong></p>
                        <p><button type="button" ng-click="inscricao(associacao.valor , form.id)" class="btn btn-warning">FAZER ASSOCIAÇÃO</button></p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <hr>

    <div class="col-md-12 box">
        <a href="#/user/juridico" class="btn btn-default">CANCELAR</a>
        <button type="submit" class="btn btn-primary">SALVAR</button>
    </div>

</form>