
<div class="row">
    <div class="col-lg-12" ng-controller="UserListaJuridicoCtrl" ng-init="init()">
        <h2>Usuário Jurídico</h2>
        <hr>

        <ol class="breadcrumb">
            <li><a href="#/">Inicial</a></li>
            <li class="active">Usuário</li>
        </ol>

        <div class="box">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Pesquisar usuário ...">
                <span class="input-group-btn">
                    <div class="btn btn-primary" ng-click="buscar()"><span class="glyphicon glyphicon-plus"></span> Buscar</div>
                </span>
                <span class="input-group-btn">
                    <a class="btn btn-primary" href="#/user/cadastro/juridico"><span class="glyphicon glyphicon-plus"></span> Cadastrar</a>
                </span>
            </div>
        </div>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><span class="glyphicon glyphicon-info-sign"></span> selecione abaixo o usuário que deseja alterar ou remover <span class="pull-right">Total de registros: <span class="label label-info">{[{ list.count  }]}</span></span></div>

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>CNPJ</th>
                        <th>Nome Fantasia</th>
                        <th>Sócio</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-show="list.items.length == 0 || list.length == 0">
                        <td colspan="10" style="text-align: center;"><span class="glyphicon glyphicon-info-sign"></span> Não houve retorno de registros</td>
                    </tr>

                    <tr ng-show="list.items.length > 0" ng-repeat="item in list.items ">
                        <td>{[{ item.cnpj }]}</td>
                        <td>{[{ item.nomeFantasia }]}</td>
                        <td><a class="btn btn-default"><span class="{[{ associado(item) }]}"></span></a></td>
                        <td style="width: 150px">
                            <a href="#/user/{[{ item.id }]}/representantes" class="btn btn-default"  ng-show="item.flAssociado"><span class="glyphicon glyphicon-user"></span></a>
                            <a href="#/user/{[{ item.id }]}/edit/juridico" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a ng-click="remove($index, item.id)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination-box" style="text-align: center">
                <pagination total-items="bigTotalItems" ng-model="page" items-per-page="itemsPerPage" max-size="maxSize"  previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                            class="pagination-sm" boundary-links="true" ng-change="setPage()"></pagination>
            </div>
        </div>

    </div>
</div>