<div ng-controller="EventoDetalheCtrl" ng-init="init()">
    <div class="page-header">
        <h1><i class="fa fa-calendar-o"></i> Evento </h1>
        <p class="lead">{[{ item.titulo }]}</p>
    </div>

    <h4>Descrição</h4>
    <p>{[{ item.descricao }]}</p>

    <div class="row">
        <div class="col-lg-12">
            <h4><i class="fa fa-location-arrow"></i> Local</h4>
            <p>{[{ item.local }]}</p>
        </div>

        <div class="col-lg-6">
            <h4><i class="fa fa-clock-o"></i> Carga Horária</h4>
            <p>{[{ item.cargaHoraria }]} horas</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h4><i class="fa fa-calendar"></i> Período de Inscrição</h4>
            <p>de {[{ formatarData(item.inscricaoInicio) }]} até {[{ formatarData(item.inscricaoFim) }]}</p>
        </div>

        <div class="col-lg-6">
            <h4><i class="fa fa-calendar"></i> Período do Evento</h4>
            <p>de {[{ formatarData(item.dataInicio) }]} até {[{ formatarData(item.dataFim) }]}</p>
        </div>
    </div>

    <div class="row" ng-show="item.eventoPago">
        <div class="col-lg-12">
            <h3>Valores para Inscrição</h3>
            <hr>

            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Estudante</h3>
                            <p>Valor da inscrição <strong>R$ {[{ item.valorEstudante }]}</strong></p>
                            <p><button ng-click="inscricao(item.valorEstudante, item.id)" class="btn btn-primary">FAZER INSCRIÇÃO</button></p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Estudante Associado</h3>
                            <p>Valor da inscrição <strong>R$ {[{ item.valorEstudanteAssociado }]}</strong></p>
                            <p><button ng-click="inscricao(item.valorEstudante, item.id)" class="btn btn-primary">FAZER INSCRIÇÃO</button></p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Sócio</h3>
                            <p>Valor da inscrição <strong>R$ {[{ item.valorSocio }]}</strong></p>
                            <p><button ng-click="inscricao(item.valorEstudante, item.id)" class="btn btn-primary">FAZER INSCRIÇÃO</button></p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>Não Sócio</h3>
                            <p>Valor da inscrição <strong>R$ {[{ item.valorSocio }]}</strong></p>
                            <p><button ng-click="inscricao(item.valorEstudante, item.id)" class="btn btn-primary">FAZER INSCRIÇÃO</button></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="box">
        <a href="#/" class="btn btn-danger">CANCELAR INSCRIÇÃO</a>
        <a href="#/" ng-show="!item.eventoPago" class="btn btn-primary">FAZER INSCRIÇÃO</a>&nbsp;
    </div>

</div>