<div ng-controller="EventoDetalheCtrl" ng-init="init()">
    <div class="page-header">
        <h1>Evento</h1>
        <p class="lead">{[{ item.titulo }]}</p>
    </div>

    <h3>Descrição</h3>
    <p class="lead">{[{ item.descricao }]}</p>

    <div class="row">
        <div class="col-lg-12">
            <h4>Local</h4>
            <p>{[{ item.local }]}</p>
        </div>

        <div class="col-lg-6">
            <h4>Carga Horária</h4>
            <p>{[{ item.cargaHoraria }]} horas</p>
        </div>

        <div class="col-lg-6">
            <h4>Período de Inscrição</h4>
            <p>de {[{ item.inscricaoInicio }]} até {[{ item.inscricaofim }]}</p>
        </div>

        <div class="col-lg-6">
            <h4>Período do Evento</h4>
            <p>de {[{ item.dataInicio }]} até {[{ item.dataFim }]}</p>
        </div>
    </div>

    <div class="box" ng-show="item.eventoPago">
        <div class="row">
            <div class="col-lg-12">
                <h3>VALORES PARA INSCRIÇÃO</h3>
                <hr>
                <p class="lead"><label>Para estudante:</label> R$ {[{ item.valorEstudante }]}</p>
                <p class="lead"><label>Para estudante associado:</label> R$ {[{ item.valorEstudanteAssociado }]}</p>
                <p class="lead"><label>Para não sócio:</label> R$ {[{ item.valorNSocio }]}</p>
                <p class="lead"><label>Para sócio:</label> R$ {[{ item.valorSocio }]}</p>
            </div>
        </div>

        <a href="#/evento" class="btn btn-default btn-lg">CANCELAR INSCRIÇÃO</a>
        <button type="button" class="btn btn-primary btn-lg">INSCREVER NO EVENTO</button>
    </div>
</div>