<form class="form-signin" ng-controller="LoginCtrl" ng-submit="autenticar()">
    <h2 class="form-signin-heading">Login Administração</h2>
    <label for="inputEmail" class="sr-only">E-mail</label>
    <input type="email" id="inputEmail" ng-model="form.email" class="form-control" placeholder="Endereço de e-mail" required autofocus>
    <label for="inputPassword" class="sr-only">Senha</label>
    <input type="password" id="inputPassword" ng-model="form.senha" class="form-control" placeholder="Senha" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-log-in"></span> Logar</button>
</form>